*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'outfit', sans-serif;
 /*   background-color: var(--Light-gray); */ 
}

:root{
    /* Primary colors  */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* Neutral colors*/
    --Very-dark-blue-main-BG:  hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-blue-main-BG);
}
/* NFT CARD */

.card {
    width: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: var(--Very-dark-blue-card-BG);

}

.card-image{
    position: relative;
    width: 328px;
    height: 320px;
    top: 0;
    left: 0;
}

.card-image-Nft {
    position: relative;
    width: 284px;
    border-radius: 8px;
    top: 22px;
    left: 22px;
 
}
.card-image-background {
    position: absolute;
    top: 22px;
    left: 22px;
    opacity: 0;
    background-color: var(--Cyan);
    width: 284px;
    height: 284px;
    border-radius: 8px;
 
}
.card-image-icon {
    position: absolute;
    top: 140px;
    right: 140px;
    opacity: 0;

}

.card-image:hover .card-image-background {
    opacity: 1;
}
 
.card-image:hover .card-image-Nft{
    opacity: 0.5;
    cursor: pointer;
}
.card-image:hover .card-image-icon{ 
    opacity: 1;
    cursor: pointer;
    
}

.card-title {
    color: var(--white);
    font-size: 2.1rem;
    font-weight: 550;
    width: auto;
    margin-right: 98px;
    margin-top: 10px;

}
.card-title:hover{
    cursor: pointer;
    color: var(--Cyan);
}
.card-text {
    color: var(--Soft-blue);
    width: 280px;
    font-size: 1.55rem;
    font-weight: 300;
    margin-top: 16px;
    line-height: 2.5rem;
}
.card-information {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 50px;
    border-bottom: 1px solid var(--Very-dark-blue-line);
    width: 284px;
}
.card-information .eth {
    display: flex;
    width: 98px;
}
.card-information .days {
    display: flex;
    align-items: center;
    width: 98px;
}
.card-information .days img {
    width: 18px;
    height: 18px;
    margin-right: 6px;

}
.card-information-eth{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--Cyan);
    margin-left: 6px;
}
.card-information-days{
    font-size: 1.55rem;
    
    color: var(--Soft-blue);
}
/******************************************************/
.card-creation {
    display: flex;
    align-items: center;
    width: 284px;
    height: 70px;
    font-size: 1.55rem;
}
.card-creation img {
    width: 32px;
    height: 32px;
    border: 1px solid white;
    border-radius: 50%;
}
.card-creation p {
    color: var(--Soft-blue);
    margin-left: 18px;
}
.card-creation a {
    color: var(--white);
    text-decoration: none;
}
.card-creation a:hover{
    color: var(--Cyan);
}
/***********FOOTER*******************/
footer {
    text-align: center; 
    position: absolute;
    height: 25px;
    bottom: 0;

}
.attribution { 
    font-size: 11px; 
    
    color: white;

}
.attribution a { 
    color: var(--Soft-blue); 
}
